.about {
  padding: 120px 30px;
  margin: 0 auto;
  max-width: 1220px;

  @include vp-1199 {
    padding: 100px 45px;
  }

  @include vp-767 {
    padding: 68px 0;
  }
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include vp-767 {
    padding: 0;
  }
}

.about__content-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;

  @include vp-1199 {
    grid-template-columns: 1fr;
  }

  @include vp-767 {
    margin-bottom: 40px;
  }
}

.about__content-wrapper img {
  margin-left: auto;
  object-fit: cover;

  @include vp-1199 {
    margin: 0;
    width: 678px;
    height: 345px;
  }

  @include vp-767 {
    padding: 0;
    height: 313px;
  }
}

.about__text-wrapper {
  margin-top: 47px;
  margin-left: 60px;
  width: 360px;

  @include vp-1199 {
    margin: 0 auto 43px;
    width: 100%;
    text-align: center;
  }

  @include vp-767 {
    margin-bottom: 32px;
    padding: 0 15px;
    text-align: left;
  }
}

.about__text-wrapper h3 {
  margin: 0 0 8px;
  font-family: $ff-bebas-neue;
  font-weight: 700;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;

  @include vp-1199 {
    font-size: 42px;
    line-height: 42px;
  }

  @include vp-767 {
    margin-bottom: 6px;
    font-size: 32px;
    line-height: 32px;
  }
}

.about__text-wrapper strong {
  display: block;
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 27px;

  @include vp-1199 {
    margin-bottom: 35px;
  }

  @include vp-767 {
    margin-bottom: 25px;
  }
}

.about__text-wrapper p {
  margin: 0 0 8px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;

  &:nth-child(2n + 2) {
    @include vp-1199 {
      display: none;
    }
  }

  @include vp-1199 {
    margin: 0 auto;
    max-width: 504px;
    text-align: center;
  }

  @include vp-767 {
    margin-right: 27px;
    margin-left: 0;
    text-align: left;
  }
}

.about__video-wrapper {
  margin-top: -113px;
  margin-left: 80px;
  width: 364px;
  height: 228px;

  @include vp-1199 {
    margin-top: -84px;
    margin-left: 0;
    width: 266px;
    height: 167px;
  }

  @include vp-767 {
    margin-top: 0;
    width: 320px;
  }
}
