.video {
  position: relative;
  width: 100%;
  height: 228px;
  // padding-bottom: 56.25%;
  background-color: #000000;

  @include vp-1199 {
    width: 266px;
    height: 167px;
  }

  @include vp-767 {
    width: 320px;
  }
}

.video__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.video__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  opacity: 0.5;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.video__media--show {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  opacity: 1;
}

.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  background-color: transparent;
  border: none;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.video__button svg {
  width: 100px;
  height: 100px;

  &:hover,
  &:focus {
    width: 110px;
    height: 110px;
  }

  @include vp-1199 {
    width: 73px;
    height: 73px;

    &:hover,
    &:focus {
      width: 90px;
      height: 90px;
    }
  }
}
