// Vendor
// ---------------------------------

@import "vendor/normalize";

// Global
// ---------------------------------

@import "variables";
@import "mixins";
@import "global/fonts";
@import "global/reboot";
@import "global/utils";
@import "global/container";

// Blocks
// ---------------------------------

@import "blocks/button.scss";
@import "blocks/page-header.scss";

@import "blocks/about.scss";
@import "blocks/advantages.scss";
@import "blocks/feedback.scss";
@import "blocks/page-footer.scss";
