// Vendor

@import "vendor/normalize";
@import "vendor/swiper.scss";

// Global
// ---------------------------------

@import "variables";
@import "mixins";
@import "global/fonts";
@import "global/reboot";
@import "global/utils";
@import "global/container";

// Blocks
// ---------------------------------

@import "blocks/button.scss";
@import "blocks/page-header.scss";

@import "blocks/about.scss";
@import "blocks/video.scss";
@import "blocks/subscriptions.scss";
@import "blocks/promo-event.scss";
@import "blocks/coaches.scss";
@import "blocks/advantages.scss";
@import "blocks/actions.scss";
@import "blocks/reviews.scss";
@import "blocks/feedback.scss";
@import "blocks/contacts.scss";
@import "blocks/page-footer.scss";
